@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>@ViewData["Title"]</h1>

        <p>All Right to <a href="https://github.com/aspnetvn">AspNetVietnam</a></p>
    </div>
</section>

