/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.pre-loader {
    background-color: #955BA5;
    height: 300px;
    line-height: 300px;
    text-align: center;
    opacity: 0.8;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

    .loader {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }

/*	$Loader Bars
	========================================================================== */

.loader-bars:before,
.loader-bars:after,
.loader-bars span {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #fff;
    -webkit-animation: grow 1.5s linear infinite;
    animation: grow 1.5s linear infinite;
}

.loader-bars:after {
    left: 15px;
    -webkit-animation: grow 1.5s linear -.5s infinite;
    animation: grow 1.5s linear -.5s infinite;
}

.loader-bars span {
    left: 30px;
    -webkit-animation: grow 1.5s linear -1s infinite;
    animation: grow 1.5s linear -1s infinite;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }

    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }

    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        tranform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinreverse {
    0% {
        -webkit-transform: rotate(0deg);
        tranform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        tranform: rotate(-360deg);
    }
}

@keyframes spinreverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
